// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #de1b89;
$secondary : #1aacac;
$accent    : #9C27B0;

$dark      : #0d1221;
$dark-page : #040d12;

$positive  : #22ba75;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

.texto-primary {
	background: linear-gradient(to right, #de1b89 0%, #9c27b0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.text-admin {
    color:#929397;
}
.texto-primari {
	background-color: linear-gradient(to right, #de1b89 0%, #9c27b0 100%);
}
.bg-primary {
	background: linear-gradient(to right, #de1b89 0%, #9c27b0 100%) !important;
}
.icons .q-tab__content .q-tab__icon {
    width: 30px;
    height: 30px;
    font-size: 2.5rem !important;
}
.bg-basico{
    background-image: linear-gradient(148deg, #00dcb4 27.8%, #00accf 67%);

}
.text-basico{
    background-image: linear-gradient(148deg, #00dcb4 27.8%, #00accf 67%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.bg-profesional{
    background: linear-gradient(to right, #de1b89 0%, #9c27b0 100%);

}
.text-profesional{
    background-image: linear-gradient(to right, #de1b89 0%, #9c27b0 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.bg-premium{
    background: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);

}
.text-premium{
    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.bg-platinum{
    background-color: #21D4FD;
    background-image: linear-gradient(124deg, #21D4FD 0%, #B721FF 100%);

}
.text-platinum{
    background-color: #21D4FD;
    background-image: linear-gradient(124deg, #21D4FD 0%, #B721FF 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.links {
    font-size: 1.1rem !important;
}
.chip-plan .q-chip__icon{
    color: #000 !important;
}
.q-notification {
    border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
}
.q-drawer--left.q-drawer--bordered {
    border-right: 1px solid #000000cc !important;
}
.q-separator {
    border: 0;
    border-right: 1px solid #000000cc !important;
    margin: 0;
    transition: background 0.3s, opacity 0.3s;
    flex-shrink: 0;
}
.q-calendar {
    color: #929397 !important;
    background: #000000 !important;
    border-radius: 15px;
}
.q-calendar-month__head {
    border-bottom: #929397 !important;
    background: #2a2a2a !important;
}

.q-calendar-month__week--wrapper {
    border-bottom: #929397;
}
.card-chart{
    background: #000 !important;
    position: relative;
    color: #929397 !important;
}
.card-bg {
    background-color: #000;
    border: 1px solid #373737;
    border-radius: 30px;
}
.q-field--standout .q-field__control {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
// $primary   : #1976D2;
// $secondary : #26A69A;
// $accent    : #9C27B0;

// $dark      : #1D1D1D;
// $dark-page : #121212;

// $positive  : #21BA45;
// $negative  : #C10015;
// $info      : #31CCEC;
// $warning   : #F2C037;
